/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Maragsa";
  src: url("assets/font/maragsa/Maragsa-Display.woff") format("woff"),
       url("assets/font/maragsa/Maragsa-Display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("assets/font/metropolis/MetroPolis-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Metropolis";
  src: url("/assets/font/metropolis/MetroPolis-ExtraLight.otf") format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Metropolis";
  src: url("/assets/font/metropolis/MetroPolis-LightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}



