<div class="flex justify-center items-center md:w-auto h-4">
  <div class="grid grid-cols-3 w-96 h-1 items-stretch justify-center">
    <div class="flex flex-col justify-center items-center border border-white p-4 text-center bg-custom-brown">
      <div class="text-white">Menu</div>
    </div>
    <div class="flex flex-col justify-center items-center border border-white p-3 text-center bg-custom-brown">
      <div class="space-y-2 cursor-pointer flex justify-center items-center flex-col">
        <div class="w-10 h-1 bg-white"></div>
        <div class="w-10 h-1 bg-white"></div>
        <div class="w-10 h-1 bg-white"></div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center border border-white p-4 text-center bg-custom-brown">
      <div>Shop</div>
    </div>
  </div>
</div>
